html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: #E5E5E5;
}

.wrapper {
  flex: 1 0 auto;
}

.navbar__container {
  background: #F4F3EE;
}

h1 {
  font-family: "Open Sans";
  font-size: 34px;
  text-align: center;
  margin: 30px 0;
}
@media (min-width: 576px) {
  h1 {
    margin: 60px 0;
  }
}

.navbar {
  background: #F4F3EE !important;
  height: 70px;
  padding: 0;
  z-index: 3;
}
@media (min-width: 576px) {
  .navbar {
    width: 90%;
    margin: 0 auto;
  }
}
.navbar .navbar-brand {
  font-size: 36px;
  font-family: "Open Sans";
}
.navbar .navbar__mobile_links {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between !important;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  outline: none;
}

.navbar-collapse {
  justify-content: flex-end;
  background: #F4F3EE;
}
.navbar-collapse .navbar-nav {
  font-family: "Archivo Narrow" !important;
  font-size: clamp(0.9375rem, -106.875rem + 300vw, 1.125rem);
  width: 90%;
  margin: 0 auto;
}
.navbar-collapse a, .navbar-collapse footer span, footer .navbar-collapse span {
  color: #8D8D8D !important;
  text-transform: uppercase;
}
.navbar-collapse a:hover, .navbar-collapse footer span:hover, footer .navbar-collapse span:hover {
  color: #C32C72 !important;
}
.navbar-collapse .active a, .navbar-collapse .active footer span, footer .navbar-collapse .active span {
  color: #C32C72 !important;
}

.row {
  justify-content: center;
  gap: 33px;
}
@media (min-width: 992px) {
  .row {
    gap: 25px 28px;
  }
}
.row .container__row--card {
  background: #F4F3EE;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.07);
  min-width: 357px;
  max-width: 357px;
  height: 355px;
  border-radius: 15px;
}
@media (min-width: 768px) {
  .row .container__row--card {
    min-width: 263px;
    max-width: 263px;
    height: 265px;
  }
}
.row .row__card--border {
  box-shadow: 0 0 0 3px #C32C72 inset;
  background: #FFFFFF;
}
.row .row__card--full {
  box-shadow: 0 0 0 3px #FFFFFF inset;
  background: #C32C72;
}

footer {
  background: #F4F3EE;
  padding: 13px 0;
}
footer .footer__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 576px) {
  footer .footer__text {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
}
footer a, footer span {
  font-family: "Open Sans";
  font-size: 12px;
  color: #8D8D8D;
  margin-bottom: 9px;
}