html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: getColour(primary-background-color);
}

.wrapper {
  flex: 1 0 auto;
}

.nav__container {
  background: getColour(secondary-background-color);
}