
.row {
  justify-content: center;
  gap: 25px;

  .container__row--card {
    background: getColour(secondary-background-color);
    border-radius: 15px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.07);
    height: 256px;
    width: 256px;
    padding: 0;
  }

  .row__card--border {
    border: 3px solid getColour(primary-color);
    background: getColour(white);
  }

  .row__card--full {
    border: 3px solid getColour(white);
    background: getColour(primary-color);
  }

}

