.row {
  justify-content: center;
  gap: 33px;

  @media (min-width: $width-large) {
    gap: 25px 28px; 
  }

  &__card {
    background: getColour(secondary-background-color);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.07);
    @include card-size(355px, 357px);
    border-radius: 15px;

    @media (min-width: $width-medium) {
      @include card-size(265px, 263px);
    }
  }

  &__card--border {
    box-shadow: 0 0 0 3px getColour(primary-color) inset;
    background: getColour(white);
  }

  &__card--full {
    box-shadow: 0 0 0 3px getColour(white) inset;
    background: getColour(primary-color);
  }

}

