footer {
  background: getColour(secondary-background-color);
  padding: 13px 0;

  .footer__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;

    @media (min-width: $width-small) {
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }
  }
  
  a {
    font-family: $font-primary;
    font-size: 12px;
    color: getColour(navbar-link-color);
    margin-bottom: 9px;
  }

  span {
    @extend a;
    }
  
  
  }