.navbar {
  background: getColour(secondary-background-color) !important;
  height: 70px;
  padding: 0;
  z-index: 3;

    @media (min-width: $width-small) {
      width: 90%;
      margin: 0 auto;
    }

    &__mobile_links {
      display: flex;
      width: 90%;
      margin: 0 auto;
      justify-content: space-between !important;
    }
    
    &-brand {
      font-size: 36px;
      font-family: $font-primary;
    }

    button {
      border: none !important;
      color: getColour(navbar-toggler) !important;
  
      &:focus {
        outline: none;
      }
  }
}

.hidden {
  display: none;
}


.navbar-collapse {
  justify-content: flex-end;
  background: getColour(secondary-background-color);

  .navbar-nav {
    font-family: $font-nav-links !important;
    font-size: clamp(0.9375rem, -106.875rem + 300vw, 1.125rem);
    width: 90%;
    margin: 0 auto;
  }

  a {
    color: getColour(navbar-link-color) !important;
    text-transform: uppercase;

    &:hover {
      color: getColour(primary-color) !important;
    }
  }

  .active {
    a {
      color: getColour(primary-color) !important;
    }
  }
}

