$font-primary: "Open Sans";
$font-nav-links: "Archivo Narrow";

$width-small: 576px;
$width-medium: 768px ;
$width-large: 992px;

$colours: (
  primary-color: #C32C72,
  primary-background-color: #E5E5E5,
  secondary-background-color: #F4F3EE,
  navbar-link-color: #8D8D8D,
  navbar-toggler: #463F3A,
  brand-color: #262626,
  home-heading-color: #463F3A,
  white: #FFFFFF,
);

@function getColour($colour) {
  @return map-get($colours, $colour)
}